  * {
    border: 5px white solid;
    padding: 3rem 1rem;

  }

  header {
    background-color: turquoise;
    text-align: center;
    font: 50px/1.5 Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px #33FF7B;
  }

  #navigation {
    background-color: orange;
    font: 30px/1.5 Arial, Helvetica;
    text-align: center;
  }
  
  #middle {
 
    display: flex;

  }

  .column {

    width: 50%;

  }

  section {
    background-color: purple;
    text-align: right;
  }

  article {
    background-color: yellow;

  }

  aside {
    background-color: red;
    font: 70px/2.0 Times New Roman, serif;
    text-align: center;
  }



  footer {
    background-color: brown;

  }

  body {

    background: url("https://picsum.photos/id/1060/600/400") no-repeat center;
    background-size: cover;

  }
